/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Rr]ecordings/

*.stackdump

.vs/


/.idea/

*.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.unop
*.kdevelop
*.sublime-project
*.sublime-workspace
*.as3proj
*.cas
*.tmproj
*.user
*.users
*.pid
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.VC.opendb